* {
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 
html{
    scroll-behavior: smooth;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid white;
    position: relative;
    margin-top: 45px;  
}
.image-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: lightblue;
    height: 400px;
    
}

.text-image{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.image{
    display: flex;
    justify-content: center;
}

.about {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 5px;
    margin-right: 5px;
    
}

.about > h1 {
    margin-bottom: 10px;
}

.about > div {
    line-height: 30px;
    
    font-size: larger;
}
header{
    position: sticky;
    top: 0;
    z-index: 1;
    
}

.nav-container {
    display: flex;
    background-color: #f0f0f0;
    height: 100px;
    text-align: right;
    margin-left: 0px; 
    justify-content: space-between;
   
}
.first{
    display: flex;
    justify-content: start;
    align-items: center;
    width: auto;
    font-size: 40px;
    
}

.second{
    display: flex;
    align-items: center;
    width: 800px;
    justify-content: space-between;
    
}

a {
    margin: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: all 0.3s ease; 
    
}
a:hover{
    transform: translateY(-5px); 
    font-size: 40px;
    
}

#name {
    text-align: left;
    font-size: large;
    display: flex;
    justify-content: start;
}

.skills1 {
    margin-bottom: 50px;
}

.skills {
    display: inline-block;
    margin: 20px;
    font-size: 20px;
    background-color: lightblue;
    padding: 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.skills:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

div > nav > div a {
    display: flex;
    width: 100%;
}

.projects {
    padding: 0;
    margin: 0;
    height: 300px;
    width: auto;
    background-color: white;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 15px;
    margin-bottom: 50px;
}

.projects1 {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    
    height: 200px;
}

.projects1 > div {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.projectss {
    background-color: lightblue;
}

.projectss:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    
}

#Projects {
    margin-left: 4px;
}
.contact{
    margin-top: 50px;
    display: flex;
    
    justify-content: center;
    height: 400px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(208, 228, 236);
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
}
button:hover{
    cursor: pointer;
    transform: translateY(-5px)
}